<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="JSFiles" value="C:\sync\source\netjs\netjstest"/>
    <add key="JSTemplates" value="src"/>
    <add key="JSEntry" value="main.js"/>
  </appSettings>
</configuration>
