<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" assemblyPostProcessorType="Microsoft.VisualStudio.Enterprise.Common.AspPerformanceInstrumenter, Microsoft.VisualStudio.Enterprise.AspNetHelper, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="WebHandler" path="*." verb="*" type="NetJS.WebHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.106.0" newVersion="1.0.106.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="15.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VsWebSite.Interop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="8.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio/Shared/Common/VSPerfCollectionTools/VsWebSite.Interop.DLL"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Team Tools\Performance Tools\vsinstr.exe"/>
    <add key="XFiles" value="C:\Users\Bouke\Documents\irisjs"/>
    <add key="XDoc" value="XDoc4_Templates"/>
    <add key="XBin" value="XDoc4_CompiledTemplates"/>
    <add key="XDocAttVirtualPath" value="Attachments"/>
    <add key="Debug" value="1"/>
    <add key="Cache" value="0"/>
    <add key="Request_AcceptTypes" value="0"/>
    <add key="Request_Headers" value="1"/>
    <add key="Request_Claims" value="1"/>
    <add key="Request_Cookies" value="1"/>
    <add key="Request_Files" value="0"/>
    <add key="Request_UserLanguages" value="0"/>
    <add key="Request_Content" value="1"/>
    <add key="Request_User" value="1"/>
    <add key="Request_Params" value="1"/>
    <add key="Request_Uri" value="1"/>
    <add key="Request_Template" value="A"/>
    <add key="JSFiles" value="C:\Users\Bouke\Documents\pool"/>
    <add key="JSEntry" value="main.js"/>
  </appSettings>
</configuration>